#moto p {
  font-family: courier;
}
#trails p {
  font-family: courier;
}
#ebike p {
  font-family: courier;
}
#landing ul {
  font-family: courier;
}
aside p {
  font-family: courier;
}
nav {
  font-family: courier;
  font-size: 125%;
}
