body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: lightblue;
  border: 5px solid blue;
  border-radius: 50px;
  padding: 20px;
}
.table {
  display: table;
  border-spacing: 10px;
}
.row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  vertical-align: top;
}

header {
  background-color: #1a2588;
  margin: 10px 10px 0 10px; /* removes bottom margin which does not collapse with top border-spacing */
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50px;
}
nav {
  background-color: #09acf8;
  position: sticky;
  top: 0;
  border: 4px dashed #a70909;
  border-radius: 50px;
  margin: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

@media (min-width: 500px) {
  nav ul li {
    padding: 5px 20px;
    display: inline;
  }
}

nav a:visited,
nav a:link {
  color: #a70909;
  font-weight: bold;
  border-bottom: none;
}

#moto {
  background-color: #1a2588;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50px;
}
#trails {
  background-color: #1a2588;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50px;
}
#ebike {
  background-color: #1a2588;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50px;
}
aside {
  background-color: #0130caab;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50px;
  margin: 0px 10px 10px 10px;
  width: 25%;
  padding: 1%;
}
footer {
  background-color: #1a2588;
  border: 4px solid rgb(255, 255, 255);
  border-radius: 50px;
}
#copyright {
  color: red;
}
#landing {
  background-color: #1a2588;
  padding: 20px;
  border-radius: 50px;
}
h1,
h2,
h3 {
  font-family: copperplate, sans-serif;
}
h1 {
  font-size: 300%;
  text-decoration: underline;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
h2 {
  font-size: 200%;
  color: rgb(255, 255, 255);
}
h3 {
  text-decoration: underline;
}

img {
  border: 5px solid rgb(255, 255, 255);
  max-width: 90%;
}
p {
  padding: 0px 12% 0px 12%;
}

ul {
  padding: 0px 50% 0px 45%;
}

.racing {
  font-weight: bold;
}
.power {
  font-weight: bold;
}
.carbon {
  color: green;
  font-weight: bold;
}
a:link {
  color: white;
}
a:visited {
  color: lightblue;
}

a:hover {
  color: lightblue;
  transition: 1s;
}
